.skills {
    color: rgba(255, 251, 0, 0.767);

    width: 94%;
    margin-inline: auto;
}

.heading h4 {
    margin-top: 14vh;

    text-align: center;
    color: rgba(245, 245, 239, 0.957);
    text-shadow: 10px 10px 25px rgb(178, 174, 159),
        -10px 10px 25px rgb(119, 113, 93), -10px -10px 25px rgb(153, 144, 116),
        10px -10px 25px rgb(189, 181, 153);
    font-size: 40px;

    letter-spacing: 5px;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.single-card {
    margin-top: 5px;
    border-radius: 15px;

    width: 30%;
    text-align: center;
    background-color: rgba(148, 136, 136, 0);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    transition: all 0.56s ease;
    flex-direction: column;
    align-items: center;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    gap: 15px;
}

.single-card:hover {
    cursor: default;
    background-color: rgba(148, 136, 136, 0.05);
    transform: scale(1.05, 1.05);
}

.single-card:hover p {
    transition: all 0.56s ease;
    opacity: 0.5;
}
.single-card h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
    letter-spacing: 2px;
}
.single-card img {
    margin-top: 20px;
    align-items: center;
    width: 50px;
}

.single-card p {
    opacity: 0.4;
    margin-top: 18px;
    padding-inline: 20px;

    text-align: center;
    word-spacing: 1.5px;
    margin-bottom: 20px;
}

.main-wrapper {
    width: 90%;
    font-family: "Comfortaa", sans-serif;
    max-width: 900px;
    margin: 3em auto;
    text-align: center;
}
.badge {
    position: relative;
    margin: 1.5em 3em;
    width: 4em;
    height: 6.2em;
    border-radius: 10px;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
}
.badge:before,
.badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.badge:before {
    transform: rotate(60deg);
}
.badge:after {
    transform: rotate(-60deg);
}
.badge:hover {
    top: -4px;
}
.badge .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.badge .circle i.fa {
    font-size: 2em;
    margin-top: 8px;
}
.badge .font {
    display: inline-block;
    margin-top: 1em;
}
.badge .ribbon {
    position: absolute;
    border-radius: 4px;
    padding: 5px 5px 4px;
    width: 100px;
    z-index: 11;
    color: #fff;
    bottom: 12px;
    left: 55%;
    margin-left: -55px;
    height: 25px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
}
.yellow {
    background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
    color: #ffb300;
}
.orange {
    background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
    color: #f68401;
}
.pink {
    background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
    color: #dc306f;
}
.red {
    background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
    color: #c62828;
}
.purple {
    background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
    color: #7127a8;
}
.teal {
    background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
    color: #34a297;
}
.blue {
    background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
    color: #259af3;
}
.blue-dark {
    background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
    color: #1c68c5;
}
.green {
    background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
    color: #7cb342;
}
.green-dark {
    background: linear-gradient(to bottom right, #4caf50 0%, #1b5e20 100%);
    color: #00944a;
}
.silver {
    background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
    color: #9e9e9e;
}
.gold {
    background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
    color: #b7892b;
}
.fa{
    /* align-items: center; */
    display: flex;
    justify-content: center;
}

@media (max-width: 883px) {
    .single-card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .skills {
        width: 100%;
    }
    .cards {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .single-card {
        width: 80%;
    }
}
